.email-index {
    background: var(--light-gray); 
    display:grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns:auto 1fr; 
    grid-template-areas: "fl fl"
                         "as el";
    /* height:90vh; */
}

.email-index aside {
    grid-area:as;
    padding:10px;
    z-index:8;
}