.email-list-container {
    grid-area: el;
    background:var(--background-white);
    border-radius:25px;
}

.email-list {
    
    list-style:none;
    overflow-y:scroll;
    height:90vh;
}

.email-list ul {
    list-style: none;
    padding:0;
}
